body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 126, 97);
}

.spiderman {
  width: 10px;
  height: 10px;
  margin-top: -4px;
  position: relative;
  box-shadow: -50px 3px #000, -40px 3px #000, -30px 3px #fe0101,
    -20px 3px #fe0101, -10px 3px #000, 0px 3px #000, 10px 3px #000,
    20px 3px #fe0101, 30px 3px #fe0101, 40px 3px #000, 50px 3px #000,
    -60px -7px #000, -50px -7px #fe0101, -40px -7px #fe0101, -30px -7px #fe0101,
    -20px -7px #fe0101, -10px -7px #fe0101, 0px -7px #fe0101, 10px -7px #fe0101,
    20px -7px #fe0101, 30px -7px #fe0101, 40px -7px #fe0101, 50px -7px #fe0101,
    60px -7px #000, -70px -17px #000, -60px -17px #fe0101, -50px -17px #fe0101,
    -40px -17px #000, -30px -17px #0253a4, -20px -17px #fe0101,
    -10px -17px #fe0101, 0px -17px #000, 10px -17px #fe0101, 20px -17px #fe0101,
    30px -17px #0253a4, 40px -17px #000, 50px -17px #fe0101, 60px -17px #fe0101,
    70px -17px #000, -70px -27px #000, -60px -27px #fe0101, -50px -27px #fe0101,
    -40px -27px #0253a4, -30px -27px #000, -20px -27px #0253a4,
    -10px -27px #fe0101, 0px -27px #fe0101, 10px -27px #fe0101,
    20px -27px #0253a4, 30px -27px #000, 40px -27px #0253a4, 50px -27px #fe0101,
    60px -27px #fe0101, 70px -27px #000, -60px -37px #000, -50px -37px #fe0101,
    -40px -37px #fe0101, -30px -37px #0253a4, -20px -37px #000,
    -10px -37px #fe0101, 0px -37px #fe0101, 10px -37px #fe0101, 20px -37px #000,
    30px -37px #0253a4, 40px -37px #fe0101, 50px -37px #fe0101, 60px -37px #000,
    -80px -47px #000, -70px -47px #000, -60px -47px #000, -50px -47px #fe0101,
    -40px -47px #fe0101, -30px -47px #fe0101, -20px -47px #fe0101,
    -10px -47px #000, 0px -47px #fe0101, 10px -47px #000, 20px -47px #fe0101,
    30px -47px #fe0101, 40px -47px #fe0101, 50px -47px #fe0101, 60px -47px #000,
    70px -47px #000, 80px -47px #000, -80px -47px #000, -70px -47px #000,
    -60px -47px #000, -50px -47px #fe0101, -40px -47px #fe0101,
    -30px -47px #fe0101, -20px -47px #fe0101, -10px -47px #000,
    0px -47px #fe0101, 10px -47px #000, 20px -47px #fe0101, 30px -47px #fe0101,
    40px -47px #fe0101, 50px -47px #fe0101, 60px -47px #000, 70px -47px #000,
    80px -47px #000, -90px -57px #000, -80px -57px #0253a4, -70px -57px #0253a4,
    -60px -57px #0253a4, -50px -57px #000, -40px -57px #fe0101,
    -30px -57px #fe0101, -20px -57px #fe0101, -10px -57px #000,
    0px -57px #fce4ec, 10px -57px #000, 20px -57px #fe0101, 30px -57px #fe0101,
    40px -57px #fe0101, 50px -57px #000, 60px -57px #0253a4, 70px -57px #0253a4,
    80px -57px #0253a4, 90px -57px #000, -90px -67px #000, -80px -67px #0253a4,
    -70px -67px #0253a4, -60px -67px #0253a4, -50px -67px #0253a4,
    -40px -67px #000, -30px -67px #000, -20px -67px #000, -10px -67px #fce4ec,
    0px -67px #fce4ec, 10px -67px #fce4ec, 20px -67px #000, 30px -67px #000,
    40px -67px #000, 50px -67px #0253a4, 60px -67px #0253a4, 70px -67px #0253a4,
    80px -67px #0253a4, 90px -67px #000, -80px -77px #000, -70px -77px #0253a4,
    -60px -77px #0253a4, -50px -77px #0253a4, -40px -77px #fe0101,
    -30px -77px #000, -20px -77px #0253a4, -10px -77px #0253a4,
    0px -77px #fce4ec, 10px -77px #0253a4, 20px -77px #0253a4, 30px -77px #000,
    40px -77px #fe0101, 50px -77px #0253a4, 60px -77px #0253a4,
    70px -77px #0253a4, 80px -77px #000, -70px -87px #000, -60px -87px #0253a4,
    -50px -87px #fe0101, -40px -87px #fe0101, -30px -87px #fe0101,
    -20px -87px #000, -10px -87px #000, 0px -87px #fce4ec, 10px -87px #000,
    20px -87px #000, 30px -87px #fe0101, 40px -87px #fe0101, 50px -87px #fe0101,
    60px -87px #0253a4, 70px -87px #000, -60px -97px #000, -50px -97px #000,
    -40px -97px #fe0101, -30px -97px #fe0101, -20px -97px #fe0101,
    -10px -97px #fe0101, 0px -97px #fce4ec, 10px -97px #fe0101,
    20px -97px #fe0101, 30px -97px #fe0101, 40px -97px #fe0101, 50px -97px #000,
    60px -97px #000, -40px -107px #000, -30px -107px #fe0101,
    -20px -107px #fe0101, -10px -107px #fe0101, 0px -107px #fce4ec,
    10px -107px #fe0101, 20px -107px #fe0101, 30px -107px #fe0101,
    40px -107px #000, -30px -117px #000, -20px -117px #fe0101,
    -10px -117px #fe0101, 0px -117px #fce4ec, 10px -117px #fe0101,
    20px -117px #fe0101, 30px -117px #000, -20px -127px #000,
    -10px -127px #fe0101, 0px -127px #fce4ec, 10px -127px #fe0101,
    20px -127px #000, -10px -137px #000, 0px -137px #fce4ec, 10px -137px #000,
    0px -147px #fce4ec, 0px -157px rgba(252, 228, 236, 0.9),
    0px -167px rgba(252, 228, 236, 0.8), 0px -177px rgba(252, 228, 236, 0.7),
    0px -187px rgba(252, 228, 236, 0.6), 0px -197px rgba(252, 228, 236, 0.5),
    0px -207px rgba(252, 228, 236, 0.4), 0px -217px rgba(252, 228, 236, 0.3),
    0px -227px rgba(252, 228, 236, 0.2), 0px -237px rgba(252, 228, 236, 0.1),
    -20px 13px #000, -30px 13px #000, -40px 23px #000, -50px 33px #000,
    -60px 43px #000, -60px 53px #000, -60px 63px #000, -60px 73px #000,
    -60px 83px #000, -60px 93px #000, -60px 103px #000, -60px 113px #000,
    -50px 123px #000, -40px 133px #000, -30px 133px #000, -20px 143px #000,
    -10px 143px #000, 0px 143px #000, 20px 13px #000, 30px 13px #000,
    40px 23px #000, 50px 33px #000, 60px 43px #000, 60px 53px #000,
    60px 63px #000, 60px 73px #000, 60px 83px #000, 60px 93px #000,
    60px 103px #000, 60px 113px #000, 50px 123px #000, 40px 133px #000,
    30px 133px #000, 20px 143px #000, 10px 143px #000, -10px 13px #fe0101,
    0px 13px #fe0101, 10px 13px #fe0101, -30px 23px #fe0101, -20px 23px #fe0101,
    -10px 23px #fe0101, 0px 23px #fe0101, 10px 23px #fe0101, 20px 23px #fe0101,
    30px 23px #fe0101, -40px 33px #fe0101, -30px 33px #fe0101,
    -20px 33px #fe0101, -10px 33px #fe0101, 0px 33px #fe0101, 10px 33px #fe0101,
    20px 33px #fe0101, 30px 33px #fe0101, 40px 33px #fe0101, -50px 43px #fe0101,
    -40px 43px #fe0101, -30px 43px #fe0101, -20px 43px #fe0101,
    -10px 43px #fe0101, 0px 43px #fe0101, 10px 43px #fe0101, 20px 43px #fe0101,
    30px 43px #fe0101, 40px 43px #fe0101, 50px 43px #fe0101, -50px 53px #fe0101,
    -40px 53px #fe0101, -30px 53px #000, -20px 53px #000, -10px 53px #fe0101,
    0px 53px #fe0101, 10px 53px #fe0101, 20px 53px #000, 30px 53px #000,
    40px 53px #fe0101, 50px 53px #fe0101, -50px 63px #fe0101, -40px 63px #000,
    -30px 63px #fff, -20px 63px #fff, -10px 63px #000, 0px 63px #fe0101,
    10px 63px #000, 20px 63px #fff, 30px 63px #fff, 40px 63px #000,
    50px 63px #fe0101, -50px 73px #fe0101, -40px 73px #000, -30px 73px #fff,
    -20px 73px #000, -10px 73px #fe0101, 0px 73px #fe0101, 10px 73px #fe0101,
    20px 73px #000, 30px 73px #fff, 40px 73px #000, 50px 73px #fe0101,
    -50px 83px #fe0101, -40px 83px #000, -30px 83px #000, -20px 83px #fe0101,
    -10px 83px #fe0101, 0px 83px #fe0101, 10px 83px #fe0101, 20px 83px #fe0101,
    30px 83px #000, 40px 83px #000, 50px 83px #fe0101, -50px 93px #fe0101,
    -40px 93px #000, -30px 93px #fe0101, -20px 93px #fe0101, -10px 93px #fe0101,
    0px 93px #fe0101, 10px 93px #fe0101, 20px 93px #fe0101, 30px 93px #fe0101,
    40px 93px #000, 50px 93px #fe0101, -50px 103px #fe0101, -40px 103px #fe0101,
    -30px 103px #fe0101, -20px 103px #fe0101, -10px 103px #fe0101,
    0px 103px #fe0101, 10px 103px #fe0101, 20px 103px #fe0101,
    30px 103px #fe0101, 40px 103px #fe0101, 50px 103px #fe0101,
    -50px 113px #fe0101, -40px 113px #fe0101, -30px 113px #fe0101,
    -20px 113px #fe0101, -10px 113px #fe0101, 0px 113px #fe0101,
    10px 113px #fe0101, 20px 113px #fe0101, 30px 113px #fe0101,
    40px 113px #fe0101, 50px 113px #fe0101, -40px 123px #fe0101,
    -30px 123px #fe0101, -20px 123px #fe0101, -10px 123px #fe0101,
    0px 123px #fe0101, 10px 123px #fe0101, 20px 123px #fe0101,
    30px 123px #fe0101, 40px 123px #fe0101, -20px 133px #fe0101,
    -10px 133px #fe0101, 0px 133px #fe0101, 10px 133px #fe0101,
    20px 133px #fe0101;
}
